@charset "utf-8";

// フォント
$fontSize-base: 10;
$fontSize-default: 16;
$fontUnit: rem;
$fontFamily: sans-serif;

// 色
$textColor: #000;
$linkColor: #39c;
$linkColor_hover: #f39;
$linkColor_visited: rgba(#39c,0.7);
$linkColor_active: #39c;

// レイアウト
$width-base: 1080px;

// ブレイクポイント
$mediaQuery-large: 768;
$mediaQuery-midium: 480;
$mediaQuery-small: 320;